<nav class="navbar navbar-light" style="background-color:white;">  
    <span class="navbar-brand mb-0 h1 text-light" routerLink="/"><i class="fas fa-award"></i> <img src="assets/logo.jpg" style="height: 50px; padding: 0" alt="KLM Airlines"></span>  
    <span class="mr-auto"></span>  
    <button class="btn btn-outline-info mr-1" routerLink="/fare-finder">Flight</button>  
    <button class="btn btn-outline-info mr-1" routerLink="/airport-info">Airports</button> 
    <button class="btn btn-outline-info mr-1" routerLink="/statistics-info">Statistics</button>  
  </nav>
  <hr>