<script src="node_modules/chart.js/src/chart.js"></script>
<h4 style="margin-left: 20px;">Request Statistics</h4>
<hr>
<div class="alert alert-danger" *ngIf="displayErrorMsg">{{errorMsg}}</div>
<div class="container">
    <div class="col-sm-12 text-center">
      <canvas baseChart *ngIf="airports?.length != 0"
            [data]="pieChartData"
            [labels]="chartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions">
        </canvas>
        </div>
  </div>